.registerfrom {
    background-color: white;
    position: absolute;
    margin-top: 5%;
    width: 25%;
    height: 70%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    z-index: 20;
       
}

.h1text{
color: black;

}
input[type=text] {
    width:90%;
}


.countriesnames{
    color:black;
    width: 90%;
  
}
