body{
    background-image: url(../images/background11.jpg);
    cursor: scroll;
}
button{
    cursor: pointer;
}

.topheading{
    background-color: red;
    color: white;
    width: 45%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius:0px 0px 40px 40px;
}
.Clickon  {
    background-color: gold;
    
    text-align: auto;
    color:whitesmoke;
    margin-left:4%;
    margin: 1%;
    width: 25%;
    border-radius:40px 20px 40px 20px;

}
.Logon{
    background-color: gold;
    position: relative;
    margin: 0.5%;
    padding: 1%;
    top: 20px;
    left: 20%;
}
.seacrhbar{
    position: absolute;
    /* justify-content: center; */
    /* width: 40%; */
       /* justify-content: center;
       top: 170px;
       height: 30px;
       width: 40px; */
       /* margin-left: 20%;
       margin-right: 20%; */
  top: 250px;
  height: 30px;
  display: flex;
  margin-left: 10%;

      
}
input[type="text"]{
    width: 60%;
}
.multiplebutton{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    }
 
 
    
.coursesbutton{
    display: inline;
    position: absolute;
    top:55%;
    padding: 55px 0px 0px 0px;
    height: 150px;
    width:110px;
    /* filter: blur(1px); */
    opacity:0.8;
    
}
.images{
    position: absolute;
    top:55%;
    /* right: 1%; */
    z-index: 2;
    /* left:-0.5px; */
}


.coursesbutton:hover{
    background-color: aqua;
}
.mail{
    height: 20px;
    width: 30px;
    border-radius: 5px 5px 5px 5px;
}
.mailid{
    text-decoration: none;
}





.footer{
    position: relative;
    top:480px;
    height:250px;
  
    background-color: blue;
}



@media only  screen and (max-width:600px) {
  .hamburger{
     position: absolute;
     left: 1%;
      width: 100px;
      height: 100px;
  background-color:orange;
  border-radius: 52%;
 
  
  }
  .seacrhbar{
    position: absolute;
     top: 40%;
     margin-left: 2px;
     margin: 1%;
  }

  .line{
      position: relative;
      top: 35%;
      left: 30%;
      margin: 3px;
      width: 30px;
      height: 5px;
      cursor:pointer;
            background-color: aliceblue;
  }
.hamburger:hover{
    transform: rotate(180deg); 
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;

}
.footer{
    height: 500px;
}



}